# Virtual environments
.venv/
.venv_dev/
.env
.env.*
!.env.example

# Logs
*.log

# airflow 
airflow/logs

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# test local
/test_local/

# geoassets inputdata
/computing_geoassets/input_data/
/computing_geoassets/derived_data/

# Superset
/superset/.cache/
/superset/.local/

# handeling 
__pycache__/
*.py[cod]
*$py.class