# Virtual environments
.venv/
.venv_dev/
.env
.env.*
!.env.example


# Logs
*.log

# airflow 
airflow/logs

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# test local
/test_local/

# Superset
/superset/.cache/
/superset/.local/

# handeling 
__pycache__/
*.py[cod]
*$py.class