services:
  redis:
    image: redis:7.2-alpine
    container_name: superset-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data

  postgres:
    image: postgres:15
    container_name: ${SUPERSET_DB_HOST}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${SUPERSET_DB}
      POSTGRES_USER: ${SUPERSET_DB_USER}
      POSTGRES_PASSWORD: ${SUPERSET_DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data

  superset:
    build:
      context: ./superset
      dockerfile: Dockerfile
    container_name: superset
    restart: unless-stopped
    environment:
      - DATABASE_DIALECT=postgresql
      - DATABASE_HOST=${SUPERSET_DB_HOST}
      - DATABASE_PORT=5432
      - DATABASE_DB=${SUPERSET_DB}
      - DATABASE_USER=${SUPERSET_DB_USER}
      - DATABASE_PASSWORD=${SUPERSET_DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - SUPERSET_SECRET_KEY=${SUPERSET_SECRET_KEY}
    ports:
      - "8088:8088"
    depends_on:
      - postgres
      - redis
    networks:
      - default
      - idfm_network
    volumes:
      - superset-home:/app/superset_home
      - ./superset/superset_config.py:/app/pythonpath/superset_config.py
    command:
      - /bin/sh
      - -c
      - |
        superset db upgrade
        superset fab create-admin --username ${SUPERSET_ADMIN_USERNAME} --firstname ${SUPERSET_ADMIN_FIRSTNAME} --lastname ${SUPERSET_ADMIN_LASTNAME} --email ${SUPERSET_ADMIN_EMAIL} --password ${SUPERSET_ADMIN_PASSWORD} || true
        superset init
        gunicorn --bind 0.0.0.0:8088 --workers 4 --timeout 120 --limit-request-line 0 --limit-request-field_size 0 "superset.app:create_app()"

volumes:
  redis-data:
  postgres-data:
  superset-home:

networks:
  idfm_network:
    external: true

