# ---------------------------
# Configuration commune Airflow
# ---------------------------
x-airflow-common: &airflow-common
  image: apache/airflow:3.1.6-python3.12
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres-airflow:5432/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__CORE__FERNET_KEY: 'quelque chose'
    AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    _PIP_ADDITIONAL_REQUIREMENTS: ''
    PYTHONPATH: /opt/airflow:/opt/airflow/ingestion
  volumes:
    - ./airflow/init_script:/opt/airflow/init_script
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./airflow/ingestion:/opt/airflow/ingestion
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    postgres-airflow:
      condition: service_healthy

services:
  airflow-init:
    <<: *airflow-common
    # entrypoint: ["/opt/airflow/init_script/init_airflow.sh"]
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${AIRFLOW_ADMIN_USERNAME}
      _AIRFLOW_WWW_USER_PASSWORD: ${AIRFLOW_ADMIN_PASSWORD}
      _AIRFLOW_WWW_USER_EMAIL: admin@example.com
      _AIRFLOW_WWW_USER_FIRSTNAME: Admin
      _AIRFLOW_WWW_USER_LASTNAME: Airflow
      _AIRFLOW_WWW_USER_ROLE: Admin
  # ---------------------------
  # PostGIS Database (INDÉPENDANT - vos données métier)
  # ---------------------------
  postgres-velib:
    image: postgis/postgis:15-3.4
    container_name: velib-postgres
    environment:
      POSTGRES_DB: velib
      POSTGRES_USER: velib
      POSTGRES_PASSWORD: velib
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U velib"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ---------------------------
  # PostgreSQL pour Airflow (métadonnées UNIQUEMENT)
  # ---------------------------
  postgres-airflow:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    ports:
      - "5433:5432"  # Port différent pour éviter les conflits
    volumes:
      - airflow-pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5


  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # ---------------------------
  # DAG Processor (OBLIGATOIRE)
  # ---------------------------
  airflow-dag-processor:
    <<: *airflow-common
    command: dag-processor
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # ---------------------------
  # Triggerer (recommandé)
  # ---------------------------
  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-apiserver:
    <<: *airflow-common
    command: api-server
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/api/v2/version"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  

volumes:
  pgdata:           # Volume pour vos données Velib
  airflow-pgdata:   # Volume pour les métadonnées Airflow
  # ---------------------------
  # Initialisation Airflow
  # ---------------------------
  # airflow-init:
  #   <<: *airflow-common
  #   container_name: airflow-init
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     AIRFLOW__CORE__LOAD_EXAMPLES: "false"
  #     AIRFLOW__CORE__EXECUTOR: LocalExecutor
  #     AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres-airflow:5432/airflow
  #     AIRFLOW__CORE__FERNET_KEY: "" 
  #     AIRFLOW__API__JWT_SECRET: ""
  #     ## PATH for custom ingestion modules
  #     PYTHONPATH: /opt/airflow:/opt/airflow/ingestion
  #     _AIRFLOW_DB_MIGRATE: 'true'
  #     _AIRFLOW_WWW_USER_CREATE: 'true'
  #   entrypoint: ["/opt/airflow/init_script/init_airflow.sh"]


